.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
#slider{
    position: relative;
    .slick-arrow{
        position: absolute;
        top: 50%;
        margin: -50px 0 0 0;
        z-index: 10;
        font-size: 0;
        width: 40px;
        height: 70px;
        border: none;
        cursor: pointer;
    }
    .slick-arrow.slick-prev{
        left: 30px;
        background: url(../slider-icon/sl-arrow_l.svg)0 0 / 100% no-repeat;
    }
    .slick-arrow.slick-next{
        right: 30px;
        background: url(../slider-icon/sl-arrow_r.svg)0 0 / 100% no-repeat;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .slick-dots li{
        list-style: none;
        margin: 0 30px;
    }
    .slick-dots li button{
        font-size: 0;
        height: 15px;
        width: 15px;
        background-color: #f8f8f8;
        border-radius: 50%;
        border: 1px solid #ff9711;
        transition: .2s;
        cursor: pointer;
    }
    .slick-dots li button:hover{
        background-color: #f9dbb4;
    }
    .slick-dots li.slick-active button{
        background-color: #ff9711;
        transition: .2s;
    }
}